<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <span class="skype-button bubble " data-bot-id="e6f3c27b-555e-49e4-806d-e2da108fb767"></span>
  <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
</body>

</html>